body{
  background-color: #015871;
  color: white;
}

.header{
  background-image: url('http://i.imgur.com/U3h0AEB.jpg');
  width: 100%;
  height: 2em;
  padding-top: 1em;
  background-position: top;
  font-size: 3em;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.label{
  margin-right: 1em;
}
.styleMap{
  margin-left: 13em;

}

.Containerinfo{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-top:2em;
    margin-bottom: 3em;
    max-height: 50em;
  width: 100%;
}

.Containercapital{
    width: 12em;
    height: 15em;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
   
/*     background-color: pink;
 */}
.Containerpopulation{
  width: 12em;
    height: 15em;
    color: white;
    font-weight: bold;

/*   background-color: pink;
 */}
.Containerlanguages{
  width: 10em;
  color: white;
    font-weight: bold;

/*   background-color: pink;
 */}
.Containercurrencies{
  width: 10em;
  color: white;
    font-weight: bold;

/*   background-color: pink;
 */}
.Containersubregion{
  display: flex;
  flex-direction: column;
  width: 10em;
  color: white;
    font-weight: bold;
  
/*   background-color: pink;
 */}
 .Containerflag{
  width: 10em;
/*   background-color: pink;
 */}

img[src="https://restcountries.eu/data/chl.svg"]{
  width: 10em;
}

.Containerflag{
  display: flex;
  flex-direction: column;
  color: white;
    font-weight: bold;
}

.map {
  height: 300px;
}

@media screen and (min-width: 1024px){
    .map {
        height: 500px;
    }
  }

.ContainerMap{
  display: none;
}

input{
  width: 100%;
  height: 2em;
  padding: 0 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  background: transparent;
  box-shadow:none;
  background-color: aliceblue;
    width: 20em;
  margin-top: 2em;
  margin-right: 1em;
  margin-bottom: 3em;
  border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
border: 0px solid #000000;
}

button{
  height: 2em;
  padding: 0 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  background: transparent;
  box-shadow:none;
  background-color: aliceblue;
    width: 5em;
  margin-top: 2em;
  margin-right: 1em;
  margin-bottom: 3em;
  border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
border: 0px solid #000000;
}

