body{
  background-color: #015871;
  color: white;
}
.header{
  background-image: url('http://i.imgur.com/U3h0AEB.jpg');
  height: 3em;
  width: 100%;
  background-position: top;
  font-size: 3em;
  padding-top: 2em;
  background-repeat: no-repeat;
}
.input{
  width: 20em;
  margin-top: 2em;
  margin-right: 1em;
  margin-bottom: 3em;
}
.label{
  margin-right: 1em;
}
.Containerinfo{
/*   border: 2px blue solid;
 */  max-height: 50em;
  width: 100%;
}

.Containerinfo{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-top:2em;
<<<<<<< Updated upstream
    margin-bottom: 3em;
=======
>>>>>>> Stashed changes
}

.Containercapital{
    width: 10em;
/*     background-color: pink;
 */}
.Containerpopulation{
  width: 10em;
/*   background-color: pink;
 */}
.Containerlanguages{
  width: 10em;
/*   background-color: pink;
 */}
.Containercurrencies{
  width: 10em;
/*   background-color: pink;
 */}
.Containersubregion{
  width: 10em;
/*   background-color: pink;
 */}

img[src="https://restcountries.eu/data/chl.svg"]{
  width: 10em;
}

.Containerflag{
  display: flex;
  flex-direction: column;
}


.map {
<<<<<<< Updated upstream
  height: 20px;

}

=======
  height: 300px;
}

>>>>>>> Stashed changes
@media screen and (min-width: 1024px){
    .map {
        height: 500px;
    }
<<<<<<< Updated upstream

}
=======
}
>>>>>>> Stashed changes
