@media screen and (min-width: 400px) and (max-width: 600px){
    .label, .input, .button{
      position: relative;
      top: 2em;
    }
		.Containercapital, .Containerpopulation, .Containerlanguages, .Containercurrencies, .Containersubregion, .Containerflag{
			margin-top: 2em;
		}
		.styleMap{
  		margin-left: 1em;
  		width: 300px;
  		height: 200px;
		}
}
